%html
    %head
        %title Noah Start Page

        #header
            %h1 Sample links
            %h2 System Information
            %ul
                %li
                    Noah Version: #{locals[:noah_version]}
                %li
                    Redis Version: #{locals[:redis_version]}
        #header
            %h2 Hosts
            %ul
                %li 
                    %a{:href => "hosts/"} All registered Hosts
                %li 
                    %a{:href => "hosts/localhost"} localhost (this server)
                %li
                    %a{:href => "hosts/localhost/noah"} localhost noah service
        #header
            %h2 Services
            %ul
                %li 
                    %a{:href => "services/"} All registered Services
                %li
                    %a{:href => "services/http"} All hosts providing 'http'
                %li 
                    %a{:href => "services/noah/localhost"} localhost noah service
        #header
            %h2 Applications
            %ul
                %li
                    %a{:href => "applications/"} All registered Applications
                %li
                    %a{:href => "applications/noah"} Noah Application entry
                %li
                    %a{:href => "applications/noah/redis"} Noah Redis configuration entry
        #header
            %h2 Configurations
            %ul
                %li
                    %a{:href => "configurations/"} All registered Configurations
                %li
                    %a{:href => "configurations/noah"} Noah Configuration entry
                %li
                    %a{:href => "configurations/myrailsapp1"} myrailsapp1 Configuration entry
                %li
                    %a{:href => "configurations/myrestapp1"} myrestapp1 Configuration entry
                %li
                    %a{:href => "configurations/myrailsapp1/database.yml"} database.yml file for myrailsapp1 (should return the proper content-type)
                %li
                    %a{:href => "configurations/myrestapp1/config.json"} config.json file for myrestapp1
        #header
            %h2 Links
            %ul
                %li
                    %a{:href => "my_sample_organization"} Sample Organization Link
                %li
                    %a{:href => "my_sample_organization/hosts"} Sample Organization Link - Hosts
