%html
    %head
        %title Noah Start Page

        #header
            %h1 Sample links
        #header
            %h2 Hosts
            %ul
                %li 
                    %a{:href => "/h/"} All registered Hosts
                %li 
                    %a{:href => "/h/localhost"} localhost (this server)
                %li
                    %a{:href => "/h/localhost/noah"} localhost noah service
        #header
            %h2 Services
            %ul
                %li 
                    %a{:href => "/s/"} All registered Services
                %li
                    %a{:href => "/s/http"} All hosts providing 'http'
                %li 
                    %a{:href => "/s/noah/localhost"} localhost noah service
        #header
            %h2 Applications
            %ul
                %li
                    %a{:href => "/a/"} All registered Applications
                %li
                    %a{:href => "/a/noah"} Noah Application entry
                %li
                    %a{:href => "/a/noah/redis"} Noah Redis configuration entry
        #header
            %h2 Configurations
            %ul
                %li
                    %a{:href => "/c/"} All registered Configurations
                %li
                    %a{:href => "/c/noah"} Noah Configuration entry
                %li
                    %a{:href => "/c/myrailsapp1"} myrailsapp1 Configuration entry
                %li
                    %a{:href => "/c/myrestapp1"} myrestapp1 Configuration entry
                %li
                    %a{:href => "/c/myrailsapp1/database.yml"} database.yml file for myrailsapp1 (should return the proper content-type)
                %li
                    %a{:href => "/c/myrestapp1/config.json"} config.json file for myrestapp1

