%html
    %head
        %title Noah Start Page

        #header
            %h1 Sample links
            %p If these links return 404 messages, that simply means the sample data has not been populated. 
            %p You can click the "All" links on each category to see if there is any data for those object types.
            %p The best way to interact with Noah is via API calls.
            %a{:href => "http://goo.gl/jYqp2"} Documentation

            %h2 System Information
            %ul
                %li
                    Noah Version: #{locals[:noah_version]}
                %li
                    Redis Version: #{locals[:redis_version]}
        #header
            %h2 Hosts
            %ul
                %li 
                    %a{:href => "hosts/"} All registered Hosts
                %li 
                    %a{:href => "hosts/localhost"} localhost (this server)
                %li
                    %a{:href => "hosts/localhost/services/noah"} localhost noah service
        #header
            %h2 Services
            %ul
                %li 
                    %a{:href => "services/"} All registered Services
                %li
                    %a{:href => "services/http"} All hosts providing 'http'
                %li 
                    %a{:href => "services/noah/localhost"} localhost noah service
        #header
            %h2 Applications
            %ul
                %li
                    %a{:href => "applications/"} All registered Applications
                %li
                    %a{:href => "applications/noah"} Noah Application entry
                %li
                    %a{:href => "applications/noah/configurations/redis_url"} Noah Redis configuration entry
        #header
            %h2 Configurations
            %ul
                %li
                    %a{:href => "configurations/"} All registered Configurations
                %li
                    %a{:href => "configurations/redis_url"} A Redis URL Configuration entry
                %li
                    %a{:href => "configurations/database.yml"} database.yml file (most likely will return JSON representation. Send "Accept: application/octet" headers for raw version)
                %li
                    %a{:href => "configurations/config.json"} config.json file (see above note about headers)
        #header
            %h2 Links
            %ul
                %li
                    %a{:href => "my_sample_organization"} Sample Organization Link
                %li
                    %a{:href => "my_sample_organization/hosts"} Sample Organization Link - Hosts
